/*!
Plugin Name: VI: Parallax Sections
Plugin URI: http://neathawk.com
Description: styling of parallax sections, can add through block/groups
Version: 0.5.210127
Author: Joseph Neathawk
Author URI: http://Neathawk.com
License: GNU General Public License v2 or later
*/

/*--------------------------------------------------------------
# VI Stuff
--------------------------------------------------------------*/
/*
element {
	layout(position)

	content(text)

	design(background)

	other(z-index)
}
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Group Structure
# Extra
# Media Queries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Group Structure
--------------------------------------------------------------*/

/* parallax groups */
.wp-block-group.parallax-background,
.wp-block-group.parallax-foreground {
    height:auto !important;
    max-width:100% !important;
    width:100% !important;
    margin:0 !important;
    padding:2rem;
    position:relative;

    background-size:cover;
}
.wp-block-group.parallax-background {
}
.wp-block-group.parallax-foreground {
}
.wp-block-group.parallax-background::before,
.wp-block-group.parallax-foreground::before {
    content:"";
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    background-size:cover;
}
.wp-block-group.parallax-background::before {
    background-attachment:fixed;
}
.wp-block-group.parallax-foreground::before {
}
.wp-block-group.parallax-background > .wp-block-group__inner-container,
.wp-block-group.parallax-foreground > .wp-block-group__inner-container {
    max-width:100%;
    height:100%;

    overflow:hidden;
}
.wp-block-group.parallax-background > .wp-block-group__inner-container > *,
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > * {
    position:relative;
}
.wp-block-group.parallax-background > .wp-block-group__inner-container > figure.background:not(.p-omit),
.wp-block-group.parallax-background > .wp-block-group__inner-container > figure:first-child:not(.p-omit),
.wp-block-group.parallax-background > .wp-block-group__inner-container > figure.background:not(.p-omit) img,
.wp-block-group.parallax-background > .wp-block-group__inner-container > figure:first-child:not(.p-omit) img,
.wp-block-group.parallax-background > .wp-block-group__inner-container > img.background:not(.p-omit),
.wp-block-group.parallax-background > .wp-block-group__inner-container > img:first-child:not(.p-omit),
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > figure.background:not(.p-omit),
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > figure:first-child:not(.p-omit),
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > figure.background:not(.p-omit) img,
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > figure:first-child:not(.p-omit) img,
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > img.background:not(.p-omit),
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > img:first-child:not(.p-omit) {
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    object-fit: cover;

    background-color:rgba(0,0,0,0);
    background:none;
}

/* align right */
/* figure / container */
.wp-block-group.parallax-background .wp-block-image,
.wp-block-group.parallax-background .wp-block-image figure.alignright,
.wp-block-group.parallax-foreground .wp-block-image,
.wp-block-group.parallax-foreground .wp-block-image figure.alignright {
    float: none;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}
/* img */
.wp-block-group.parallax-background .wp-block-image figure.alignright > img,
.wp-block-group.parallax-foreground .wp-block-image figure.alignright > img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: auto;
}

/* align left */
.wp-block-group.parallax-background > .wp-block-group__inner-container > div.p-left,
.wp-block-group.parallax-background > .wp-block-group__inner-container > figure.p-left 
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > div.p-left,
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > figure.p-left {
}
.wp-block-group.parallax-background > .wp-block-group__inner-container > figure.p-left img,
.wp-block-group.parallax-background > .wp-block-group__inner-container > img.p-left,
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > figure.p-left img,
.wp-block-group.parallax-foreground > .wp-block-group__inner-container > img.p-left {
}


/*--------------------------------------------------------------
# Extra
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* Bootstrap xs- | for-phone-only */
@media only screen and (max-width: 575px) {

}

/* Bootstrap sm+ | for-tablet-portrait-up */
@media only screen and (min-width: 576px) {

}

/* Bootstrap sm | for-tablet-portrait-only */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

/* Bootstrap md+ | for-tablet-landscape-up */
@media only screen and (min-width: 768px) {

}

/* Bootstrap md | for-tablet-landscape-only */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Bootstrap lg+ | for-desktop-up */
@media only screen and (min-width: 992px) {
/**** DEFAULT MEDIA QUERY - 992px width and larger ****/

}

/* Bootstrap lg | for-desktop-only */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Bootstrap xl+ | for-desktop-up */
@media only screen and (min-width: 1200px) {

}

/* Bootstrap xl | for-desktop-only */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Bootstrap xxl+ | for-big-desktop-up */
@media only screen and (min-width: 1400px) {

}


@media only print {

}